<app-index></app-index>
<div class="about-section">
    <h1>ABOUT US</h1>
  </div>

<div class="main-text">
      <p>Welcome to the Hospital Management System, your trusted healthcare partner. Our mission is to provide efficient, accessible, and high-quality healthcare services to our patients.
      Our team of dedicated healthcare professionals, including doctors, nurses, and administrative staff, works tirelessly to ensure the well-being of our patients. With state-of-the-art facilities and advanced technology, we strive to deliver the best medical care possible.
      At Hospital Management System, we are committed to excellence in patient care, medical research, and community outreach. We believe in the importance of innovation and continuous improvement in healthcare practices.</p>        
</div>
  
  <h2 style="text-align:center">OUR TEAM</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../../assets/Image/man.jpg" alt="Aayush" style="width:100%" class="images">
        <div class="container">
          <h2>Aayush Gupta</h2>
          <p>Aayush.gupta@coforgetech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
        <div class="card">
            <img src="../../../assets/Image/girl.jpg" alt="Shipra" style="width:100%" class="images">
            <div class="container">
                <h2>Shipra Singh</h2>
                <p>Shipra.2@coforgetech.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../../../assets/Image/girl.jpg" alt="Rashi" style="width:100%" class="images">
        <div class="container">
          <h2>Rashi Bhatia</h2>
          <p>Rashi@coforgetech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
      <div class="column">
        <div class="card">
            <img src="../../../assets/Image/man.jpg" alt="Anirudh" style="width:100%" class="images">
          <div class="container">
            <h2>Anirudh Pratap</h2>
            <p>Anirudh@coforgetech.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

  </div>