/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  /* Navbar Styles */
  .navbar {
    background-color: #343a40;
  }
  
  .navbar-brand {
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
  }
  
  .navbar-brand:hover {
    color: #ffffff;
  }
  
  .navbar-nav .nav-item {
    margin-right: 15px;
  }
  
  .navbar-nav .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
  }
  
  .navbar-nav .btn:hover {
    background-color: #0056b3;
  }
  
  /* Container Styles */
  .container {
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
  }
  
  /* Table Styles */
  .table {
    background-color: #ffffff;
    border: 1px solid #ddd;
    width: 100%;
  }
  
  .table th {
    background-color: lightgreen;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
  
  .table td {
    text-align: center;
    padding: 10px;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
  }
  
  /* Search Input Styles */
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Responsive Styles */
  @media (max-width: 576px) {
    .navbar-brand {
      font-size: 18px;
    }
  
    .navbar-nav .btn {
      font-size: 14px;
      padding: 10px 16px;
    }
  
    .form-control {
      font-size: 14px;
    }
  }
  